# Ignore mac system files
.DS_store

# Ignore video folder with files typically exceeding 100MB (too large for gitHub)
videos/*

_notes/*

*/_notes/dwsync.xml

*/dwsync.xml

*dwsync.xml

dwsync.xml

.vscode

images/source-files/

# Ignore config files with API keys, etc.
*config.php
*config.js
