@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
@keyframes hovermove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-7px);
  }
}
@-webkit-keyframes hovermove {
  from {
    -webkit-transform-transform: translateY(0px);
  }
  to {
    -webkit-transform-transform: translateY(-7px);
  }
}
body {
  background: repeating-linear-gradient(
    45deg,
    #2e2e2e,
    #2e2e2e 4px,
    #3d3d3d 5px,
    #3d3d3d 6.5px
  );
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  color: #844dca;
}
h1 {
  color: #3b3b3b;
  font-size: 2.9rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
h2 {
  color: #3b3b3b;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
}
h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.3rem;
}
p {
  color: #3b3b3b;
  margin-bottom: 1.3rem;
  line-height: 1.5rem;
}
a {
  color: #3585c3;
  text-decoration: none;
}
#logo {
  display: none;
  justify-content: flex-end;
  cursor: initial;
  padding: 1rem 2rem 1rem 2rem;
}
#logo:hover {
  opacity: unset;
}
#mobile-logo {
  width: 11rem;
  margin-left: 1rem;
}
#mobile-nav-hamburger {
  flex-direction: row;
  display: inline-flex;
  padding: 0.5rem 0 0.5rem 0;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  font-size: 1.8rem;
  justify-content: flex-end;
  background: white;
  color: #58595b;
  box-shadow: 0px 3px 7px 0px rgba(119, 119, 119, 0.13);
  z-index: 9999;
}
#hamburger-icon {
  flex: 1;
  margin-right: 0.5rem;
  cursor: pointer;
  text-align: right;
}
nav {
  font-size: 1rem;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.6);
  margin: 0;
  margin-top: 3.4rem;
  background: white;
  position: fixed;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: padding-bottom 0.6s ease;
  -moz-transition: padding-bottom 0.6s ease;
  -webkit-transition: padding-bottom 0.6s ease;
  -o-transition: padding-bottom 0.6s ease;
  -ms-transition: padding-bottom 0.6s ease;
}
nav ul {
  flex-direction: column;
  background-color: white;
}
nav ul li {
  border-bottom: 1px solid rgb(128 128 128 / 20%);
  padding: 0;
}
nav a {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  text-align: center;
}
nav a:hover {
  color: #844dca;
  font-weight: bold;
}
.active {
  border-bottom: 0.2rem solid #844dca;
  font-weight: bold;
}
.active a {
  color: #844dca;
}
.white-logo {
  width: 15rem;
}
hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: #e0dfdf;
}
hr.dotted-line {
  background: none;
  border-top: 2px dotted #e0dfdf;
  height: 0.5px;
  margin-bottom: 1.3rem;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
  cursor: inherit;
}
.container {
  width: 100%;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.main_content {
  overflow: auto;
  padding-bottom: 2.5rem;
  padding-top: 5.5rem;
  position: relative;
  min-height: calc(100vh - 20rem); /* Keep footer stuck to bottom of window */
}
footer {
  background-color: #3d3d3d;
  color: white;
  width: 100%;
}
footer a {
  color: white;
  text-decoration: none;
}
address {
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
address > * {
  margin: 0.5rem;
}
.address_divider {
  display: none;
  border: 0;
  background-color: #777676;
  width: 1px;
  height: 1rem;
}
.footer_contact_info {
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#footer-bottom-bar {
  font-size: 0.75rem;
  text-align: center;
  color: gray;
  background-color: #1e1e1e;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer_social_media_tags {
  border-top: 1px solid #777676;
}
.footer_social_media_tags .share-button {
  width: 2rem;
  height: 2rem;
}
#footer-bottom-bar a {
  color: #cdcdcd;
}
figure {
  text-align: left;
  margin: 0.5rem;
  background-color: #d0d1d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: auto;
  border: 0;
  -webkit-box-shadow: 0px 0px 17px 5px rgb(81 67 86 / 44%);
  -moz-box-shadow: 0px 0px 17px 5px rgb(81 67 86 / 44%);
  box-shadow: 0px 0px 17px 5px rgb(81 67 86 / 44%);
  transition: opacity 0.5s;
}
figure:hover {
  outline: 1px solid black;
  z-index: 0;
  -webkit-animation: hovermove 0.7s infinite alternate;
  -moz-animation: hovermove 0.7s infinite alternate;
  -ms-animation: hovermove 0.7s infinite alternate;
  -o-animation: hovermove 0.7s infinite alternate;
  animation: hovermove 0.7s infinite alternate;
}
figure img {
  max-width: 10rem;
  height: auto;
}
#responsive-figure-container {
  margin: 0 auto;
  display: flex;
  max-width: 60rem;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio_image {
  display: block;
  border-bottom: 0;
}
figcaption {
  display: none;
  font-size: 0.9rem;
  font-weight: bolder;
  background-color: white;
  padding: 0.7em;
}
a figure {
  color: #58595b;
}
.thumbnail_divider {
  display: none;
  margin-top: 0.5em;
  border: 0px;
  height: 1px;
  background-color: #e0dfdf;
}
.programs {
  display: none;
  font-size: 0.7rem;
  border-right: 1px solid #e0dfdf;
  display: block;
  float: left;
  padding-top: 0.5em;
  padding-right: 0.5rem;
  margin-right: 0.5em;
}
.project_type {
  display: none;
  font-size: 0.7rem;
  font-weight: 400;
  padding-top: 0.5em;
}
.ai,
.ps,
.ind,
.dw,
.ae {
  letter-spacing: 0.1em;
  font-weight: normal;
}
.ai {
  color: #fd8e25;
}
.ps {
  color: #1577af;
}
.ind {
  color: #e24b90;
}
.dw {
  color: #6fbc24;
}
.ae {
  color: #d4a5f9;
}
.pop_up_description .ai,
.pop_up_description .ps,
.pop_up_description .ind,
.pop_up_description .dw,
.pop_up_description .ae {
  display: inline-flex;
  justify-content: center;
  min-width: 2rem;
  background-color: white;
  padding: 0.4rem;
  border-radius: 5px;
  margin-right: 0.5em;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.returnhome {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #9933ff;
}
.nextpiece {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #9933ff;
}
.sharebuttons {
  display: none;
  width: 3rem;
  margin-left: 1rem;
  position: fixed;
  text-align: center;
  color: white;
}
.sharebuttons .share-button {
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}
.share-button:hover {
  opacity: 0.5;
}
#about_container {
  background: white;
  max-width: 45rem;
  margin: 1rem;
  padding: 1.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.about_flex_container {
  display: flex;
  flex-direction: column;
}
.profile_pic_container {
  flex: 1;
  padding: 0;
}
#profile_pic {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.description {
  flex: 2;
}
.education_flex_container {
  display: flex;
  max-width: 45rem;
  justify-content: space-between;
  flex-direction: column;
}
.education_flex_container > a {
  max-width: initial;
  min-width: 12rem;
  background: #f1f1f1;
  padding: 0.8rem;
  margin-top: 0.8rem;
  border-left: 3px solid #3585c3;
  border-radius: 3px;
}
#contact_container {
  background: white;
  margin: 1rem;
  width: auto;
  padding: 1.5rem;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.contact_txt {
  width: 100%;
  text-align: left;
}
#email_label,
#name_label {
  text-align: left;
  display: inline-block;
  width: 100%;
  padding: 0rem 0rem 0.5rem 0rem;
  box-sizing: border-box;
}
#name_label {
  padding: 0rem 0rem 1rem 0rem;
}
#email_label input[type="text"],
#name_label input[type="text"] {
  -webkit-appearance: none;
  margin-top: 0.5em;
  height: 3em;
  padding-left: 0.5em;
  box-sizing: border-box;
}
#email_form {
  text-align: center;
}
#message {
  -webkit-appearance: none;
  display: block;
  padding: 0.5em 0 0 0.5em;
  box-sizing: border-box;
}
.form_field {
  width: 100%;
  text-align: left;
  border: 2px solid #d7e5f1;
  background-color: #f6fbff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
button {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2em;
  background-color: #df7b17;
  border: 0;
  border: 0.1rem solid #d37211;
  color: white;
  padding: 1rem;
  letter-spacing: 0.1em;
  -webkit-border-radius: 999rem;
  -moz-border-radius: 999rem;
  border-radius: 999rem;
  width: 100%;
  transition: background-color 0.5s;
}
button:hover {
  background-color: #b8620c;
  cursor: pointer;
}
#error_container {
  padding-bottom: 1rem;
}
.error_message {
  color: #ff671b;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  background-color: #ffede3;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  border-left: 3px solid #ff671b;
}
.field_with_error_styling {
  background-color: #ffede3;
  border-color: rgb(255 184 148);
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 9999;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
a.close {
  margin-top: -0.5rem;
  margin-right: -0.2rem;
}
.popup {
  margin: 0 auto;
  background: #fff;
  border-radius: 0px;
  max-width: 60rem;
  height: 100%;
  max-height: none;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border: 1px solid white;
  -moz-transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}
.popup h2 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  text-align: left;
  border-bottom: 2px dotted #cfcfcf;
}
.popup h3 {
  color: white;
  font-weight: 100;
  font-size: large;
  margin-top: 4em;
}
.popup .close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  transition: all 200ms;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
.popup .close:hover {
  color: #9933ff;
}
.popup .popup_content {
  text-align: center;
  padding: 0.8rem;
}
.pop_up_description {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #efefef;
  border-bottom: 1px solid #b4b4b4;
}
.piece_description {
  font-size: 1rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  background-color: #f9f9f9;
}
.piece_description a {
  font-weight: bold;
}
.remove-top-margin {
  margin-top: 0px;
}
.footer_cancel {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
.footer_x_button {
  text-decoration: none;
  color: white;
}
.footer_x_button:hover {
  color: #9933ff;
}
.videos {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
}
.popup img {
  margin: 0 auto;
  margin-top: 2em;
  height: auto;
  max-width: 100%;
  display: block;
  clear: both;
}
/* Images with no spaces between them can use this class */
.popup .no-img-spaces {
  margin-top: 0px;
}
/* Images that need to pop from the white background can use this class */
.dark-background .popup {
  background-color: #989898;
}
/* Images that need to pop from the white background can use this class (darker background) */
.darker-background .popup {
  background-color: #2f2f2f;
}
/* Images that need padding on the left and right can use this class */
.popup .popup_content.left-right-padding {
  padding-left: 1em;
  padding-right: 1em;
}
/* Images in pop-up that need a hard shadow can use this class */
.hard-shadow {
  border-right: 7px solid #e6e7e8;
  border-bottom: 7px solid #e6e7e8;
}
/* Images that need a drop shadow can use this class */
.add-drop-shadow-light {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(181, 181, 181, 0.76);
  -moz-box-shadow: 0px 0px 14px 0px rgba(181, 181, 181, 0.76);
  box-shadow: 0px 0px 14px 0px rgba(181, 181, 181, 0.76);
}
p.privacy-message {
  font-weight: bold;
  color: #ff671b;
  padding: 0.5rem 0 0.5rem 0;
  border: solid #ff671b;
  text-align: center;
  border-width: 1px 0 1px 0;
  margin-top: 0.5rem;
}
.privacy-message:before {
  content: "\26A0";
  padding-right: 0.5rem;
}
#back_to_top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #0000007a;
  border-radius: 5px;
  padding: 0.3rem;
  color: white;
}
#back_to_top:hover {
  opacity: 0.5;
}
.portfolio_page_numbers {
  background-color: white;
  font-size: 1.8rem;
  display: flex;
  width: fit-content;
  margin: 2rem auto 2rem auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.portfolio_page_numbers a {
  color: #3b3b3b;
}
.portfolio_page_numbers a:hover {
  color: #844dca;
  font-weight: bold;
}
.portfolio_page_numbers .active {
  color: #844dca;
  font-weight: bold;
}
.portfolio_page_numbers > * {
  margin: 0.5rem 1rem 0.5rem 1rem;
}
.back_button,
.forward_button {
  color: white;
  font-size: 0.7em;
  vertical-align: middle;
  display: inline-block;
}
.back_button {
  margin-right: 0.5em;
}
.forward_button {
  margin-left: 0.5em;
}
.back_button:hover,
.forward_button:hover {
  opacity: 0.5;
}
/* Media queries **************************************************************************************/
@media screen and (min-width: 376px) {
  .popup .popup_content {
    padding: 0;
  }
  .popup {
    width: 100%;
    height: auto;
    max-height: 95%;
  }
}
@media screen and (min-width: 481px) {
  a.close {
    margin-top: auto;
    margin-bottom: auto;
  }
  .popup h2 {
    font-size: 2rem;
  }
  figure {
    margin: 1rem;
    border-bottom: 0.2rem solid #844dca;
  }
  .portfolio_image {
    border-bottom: 1px solid #e0dfdf;
  }
  figure img {
    max-width: fit-content;
  }
  .thumbnail_divider,
  .programs,
  .project_type,
  figcaption {
    display: block;
  }
  #email_label {
    width: 50%;
    padding: 0rem 0.5rem 1rem 0rem;
  }
  #name_label {
    width: 50%;
    padding: 0rem 0rem 0.5rem 0.5rem;
  }
}
@media screen and (min-width: 601px) {
  .about_flex_container {
    flex-direction: row;
  }
  .profile_pic_container {
    padding: 0 2rem 0 0;
  }
  .footer_contact_info {
    flex-direction: row;
    padding: 1rem;
  }
  .address_divider {
    display: block;
  }
  .popup {
    width: 80%;
    margin-top: 1.5em;
    border-radius: 5px;
  }
}
@media screen and (min-width: 781px) {
  .education_flex_container {
    flex-direction: row;
  }
  .education_flex_container > a {
    margin-top: 2rem;
    max-width: 12rem;
  }
}
@media screen and (min-width: 800px) {
  #about_container {
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  #contact_container {
    width: 30rem;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 901px) {
  #mobile-nav-hamburger {
    display: none;
  }
  #logo {
    display: flex;
  }
  nav {
    margin-top: 0;
    max-height: fit-content;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    padding: 0rem 1rem 0rem 1rem;
    color: #3b3b3b;
    text-decoration: none;
  }
}
@media screen and (min-width: 950px) {
  .sharebuttons {
    margin-left: 3em;
  }
}
@media screen and (min-width: 1160px) {
  .sharebuttons {
    display: block;
  }
}
@media screen and (min-width: 1230px) {
  .popup {
    width: 65%;
  }
}
@media screen and (min-width: 1750px) {
  .popup {
    width: 40%;
  }
}
